includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    checkMissingIterableValueType: true
    noEnvCallsOutsideOfConfig: true
    paths:
        - app/
    level: 9

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
